#
# ERD3830 board specific configuration
#

CONFIG_SCSC_WLBT_CONFIG_PLATFORM="nacho_s612_erd"
CONFIG_SND_SOC_SAMSUNG_EXYNOS3830_SOUND=y
#CONFIG_NFC=y
#CONFIG_SEC_NFC=y
#CONFIG_SEC_NFC_PRODUCT_N5=y
#CONFIG_SEC_NFC_IF_I2C=y
#CONFIG_SEC_NFC_GPIO_CLK=y
#CONFIG_SEC_NFC_LDO_EN=y
# CONFIG_CAMERA_CIS_4H5YC_OBJ is not set
# CONFIG_CAMERA_CIS_5E9_OBJ is not set
# CONFIG_CAMERA_CIS_GM1SP_OBJ is not set
# CONFIG_CAMERA_ACT_DW9839_OBJ is not set
# CONFIG_CAMERA_FLASH_S2MU106_OBJ is not set
CONFIG_CAMERA_CIS_3L6_OBJ=y
CONFIG_CAMERA_ACT_DW9763_OBJ=y
