/*
 * SAMSUNG EXYNOS3830 board device tree source
 *
 * Copyright (c) 2018 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/plugin/;
#include "rp400-board_common.dtsi"

#define BOARD_ID	0x2
#define BOARD_REV	0x1

/ {
	compatible = "samsung,exynos3830", "samsung,ERD3830";
	board_id = <BOARD_ID>;
	board_rev = <BOARD_REV>;

	fragment@model {
		target-path = "/";
		__overlay__ {
			#address-cells = <2>;
			#size-cells = <1>;

			model = "RIDI RP-400 WS board based on EXYNOS3830";

			usb_hs_tune:hs_tune {
				status = "disabled";
				hs_tune_cnt = <10>;
				/* value = <device host> */
				hs_tune1 {
					tune_name = "tx_pre_emp";
					tune_value = <0x3 0x3>;
				};

				hs_tune2 {
					tune_name = "tx_pre_emp_plus";
					tune_value = <0x0 0x0>;
				};

				hs_tune3 {
					tune_name = "tx_vref";
					tune_value = <0xf 0xf>;
				};

				hs_tune4 {
					tune_name = "rx_sqrx";
					tune_value = <0x7 0x7>;
				};

				hs_tune5 {
					tune_name = "tx_rise";
					tune_value = <0x3 0x3>;
				};

				hs_tune6 {
					tune_name = "compdis";
					tune_value = <0x7 0x7>;
				};

				hs_tune7 {
					tune_name = "tx_hsxv";
					tune_value = <0x3 0x3>;
				};

				hs_tune8 {
					tune_name = "tx_fsls";
					tune_value = <0x3 0x3>;
				};

				hs_tune9 {
					tune_name = "tx_res";
					tune_value = <0x3 0x3>;
				};

				hs_tune10 {
					tune_name = "utmi_clk";
					tune_value = <0x1 0x1>;
				};
			};
			usb_notifier {
				compatible = "samsung,usb-notifier";
				udc = <&udc>;
			};

			rp400_misc {
				compatible = "ridi,rp400-misc";
				usb_select-gpios = <&gpa0 5 0>;
				mipi_enable-gpios = <&gpg2 5 0>;
				pinctrl-names = "pwm0_on", "pwm0_off", "pwm1_on", "pwm1_off";
				pinctrl-0 = <&led_pwm_on>;
				pinctrl-1 = <&led_pwm_off>;
				pinctrl-2 = <&led_pwm1_on>;
				pinctrl-3 = <&led_pwm1_off>;
			};

			gpio_keys {
				status = "okay";
				compatible = "gpio-keys";
				pinctrl-names = "default";
				pinctrl-0 = <&key_pagedown &key_pageup &key_function1>;

				button@1 {
					label = "gpio-keys: KEY_PAGEDOWN";
					linux,code = <109>;
					gpios = <&gpa1 0 0xf>;
				};
				button@2 {
					label = "gpio-keys: KEY_PAGEUP";
					linux,code = <104>;
					gpios = <&gpa0 7 0xf>;
				};
				button@3 {
					label = "gpio-keys: KEY_F1";
					linux,code = <59>;
					gpios = <&gpa1 5 0xf>;
				};
			};

			bu52072gwz {
				compatible = "rohm,bu52072gwz";
				pinctrl-names = "default";
				out_data-gpios = <&gpg2 4 0>;
			};
			
			lis2dh12_input {
				compatible = "st,lis2dh12";
				pinctrl-names = "default";
			};

			gma303_input {
				compatible = "mems,gma303_input";
				pinctrl-names = "default";
			};

			adxl344_input {
				compatible = "adi,adxl344_input";
				pinctrl-names = "default";
			};
		}; /* end of __overlay__ */
	}; /* end of fragment */
}; /* end of root */

&udc {
	status = "okay";
};

&usbdrd_dwc3 {
	dr_mode = "otg";
	maximum-speed = "high-speed";
	snps,quirk-frame-length-adjustment = <0x20>;
	snps,u1u2_exitfail_quirk;
	/* ux_exit_in_px should be defined in MK, LT */
	snps,ux_exit_in_px_quirk;
	/* elastic_buf_mode_quirk should be defined in MK */
	snps,elastic_buf_mode_quirk;
	/* usb3-lpm-capable;
	snps,usb3_lpm_capable;
	adj-sof-accuracy = <1>; */
	/*
	 * dis-u2-freeclk-exists-quirk, dis_u2_susphy_quirk are alternative.
	 * One of them should be selected
	 */
	snps,dis-u2-freeclk-exists-quirk;
	/*snps,dis_u2_susphy_quirk;*/

	usb_audio_offloading = <0>;
//	abox = <&abox>; /* Temporary block */
};

&usbdrd_phy0 {
	status = "okay";
	usb3phy-isolation= <1>;
	pinctrl-names = "default";
//	pinctrl-0 = <&phy_port>;
//	phy,gpio_phy_port = <&gpg0 4 0x0>;
	hs_tune_param = <&usb_hs_tune>;
//	ss_tune_param = <&usb_ss_tune>;
};

&spi_0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_bus>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	spi-epd@0 {
		compatible = "ite,it8951e";
		reg = <0>;
		spi-max-frequency = <24000000>;
		epd_hrdy-gpios = <&gpg1 0 0>;
		epd_cs-gpios = <&gpp2 1 0>;
		epd_reset-gpios = <&gpa3 0 0>;
		epd_regulator_vcc33a = "vdd_ldo26";
		epd_regulator_vcc18a = "vdd_ldo28";
		controller-data {
			//cs-gpio = <&gpp2 1 0>;
			samsung,spi-feedback-delay = <0>;
		};
	};
};

&i2c_2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	touchscreen@10 {
		compatible = "elan,ekth3500";
		reg = <0x10>;
		elan,irq-gpio = <&gpa0 0 0>;
		elan,reset-gpio = <&gpg2 2 1>;
		vcc33-supply = <&l27_reg>;
		vccio-supply = <&l15_reg>;
	};
};

&panel_0 {
	ddi_id = <0xfa>;
	lcd_info = <&lcd_dummy>;
	pinctrl-names = "default";
	pinctrl-0 = "";
	pinctrl-1 = "";
};

&i2c_3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st_accel@19 {
		compatible = "st,lis2dh12-accel";
		reg = <0x19>;
		vdd28-supply = <&l25_reg>;
	};
	gma303_accel@18 {
		compatible = "mems,gma303";
		reg = <0x18>;
		vdd28-supply = <&l25_reg>;
	};
	adxl344@53 {
		compatible = "adi,adxl345";
		reg = <0x53>;
		vdd28-supply = <&l25_reg>;
	};
};

&i2c_1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	samsung,i2c-max-bus-freq = <100000>;
	lm36922@36 {
		compatible = "ti,lm36922";
		reg = <0x36>;
		asel-gpios = <&gpa2 0 0>;
		enable-gpios = <&gpa2 3 0>;
		pwm_id = <0>;
		pinctrl-names = "default";

		led@0 {
			reg = <0>;
			label = ":frontlight";
			//linux,default-trigger = "backlight";
			led-max-microamp = <20000>;
		};
	};
};

&scsc_wifibt {
	vdd08-supply = <&l12_reg>;
	vdd12-supply = <&l13_reg>;
	vdd18-supply = <&l14_reg>;
};

&dsim_0 {
	vdd085-supply = <&l29_reg>;
	vdd18-supply = <&l21_reg>;
};

