/*
 * Samsung's Exynos3830 SoC pin-mux and pin-config device tree source
 *
 * Copyright (c) 2017 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * Samsung's Exynos3830 SoC pin-mux and pin-config options are listed as device
 * tree nodes are listed in this file.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/ {
	/* ALIVE */
	pinctrl@11850000 {
		gpa0: gpa0 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__ALIVE_EINT0 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT1 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT2 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT3 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT4 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT5 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT6 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT7 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpa1: gpa1 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__ALIVE_EINT8 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT9 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT10 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT11 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT12 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT13 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT14 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT15 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpa2: gpa2 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__ALIVE_EINT16 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT17 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT18 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT19 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT20 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT21 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT22 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT23 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpa3: gpa3 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__ALIVE_EINT24 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT25 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT26 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT27 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT28 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT29 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT30 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT31 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpa4: gpa4 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__ALIVE_EINT32 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT33 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT34 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI INTREQ__ALIVE_EINT35 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpq0: gpq0 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		/* USI_PERI_UART_DBG */
		uart0_bus: uart0-bus {
			samsung,pins = "gpq0-0", "gpq0-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
		};

		uart0_bus_sleep: uart0-bus_sleep {
			samsung,pins = "gpq0-0", "gpq0-1";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
		};
		decon_f_te_on: decon_f_te_on {
			samsung,pins = "gpa4-1";
			samsung,pin-function = <0xf>;
		};

		decon_f_te_off: decon_f_te_off {
			samsung,pins = "gpa4-1";
			samsung,pin-function = <0x0>;
		};

		/* I2C_5 | CAM_PMIC_I2C */
		i2c5_bus: i2c5-bus {
			samsung,pins = "gpa3-5", "gpa3-6";
			samsung,pin-function = <3>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		/* I2C_6 | MOTOR_I2C */
		i2c6_bus: i2c6-bus {
			samsung,pins = "gpa3-7", "gpa4-0";
			samsung,pin-function = <3>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

                ts_irq_on: ts_irq_on {
                        samsung,pins = "gpa0-0";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <3>;
                };

                ts_irq_off: ts_irq_off {
                        samsung,pins = "gpa0-0";
			samsung,pin-function = <0x0>;
			samsung,pin-pud = <3>;
                };
		sys1p8_ldo_en_off: sys1p8_ldo_en_off {
			samsung,pins = "gpa0-4";
			samsung,pin-function = <0x0>;/*input*/
			samsung,pin-pud = <1>;/*pull dwon*/
		};

		sys3p3_ldo_en_off: sys3p3_ldo_en_off {
			samsung,pins = "gpa1-3";
			samsung,pin-function = <0x0>;/*input*/
			samsung,pin-pud = <1>;/*pull dwon*/
		};

		hdmi_dcdc_en_off: hdmi_dcdc_en_off {
			samsung,pins = "gpa2-0";
			samsung,pin-function = <0x0>;/*input*/
			samsung,pin-pud = <1>;/*pull dwon*/
		};

		lcd_power_off: lcd_power_off {
			samsung,pins = "gpa2-2";
			samsung,pin-function = <0x0>;/*input*/
			samsung,pin-pud = <1>;/*pull dwon*/
		};

		lcd_bl_off: lcd_bl_off {
			samsung,pins = "gpa2-3";
			samsung,pin-function = <0x0>;/*input*/
			samsung,pin-pud = <1>;/*pull dwon*/
		};

		sys1p8_ldo_en_on: sys1p8_ldo_en_on {
			samsung,pins = "gpa0-4";
			samsung,pin-function = <0x1>;/*outpu*/
			samsung,pin-val = <1>;/*out high*/
		};

		sys3p3_ldo_en_on: sys3p3_ldo_en_on {
			samsung,pins = "gpa1-3";
			samsung,pin-function = <0x1>;/*output*/
			samsung,pin-val = <1>;/*out high*/
		};

		hdmi_dcdc_en_on: hdmi_dcdc_en_on {
			samsung,pins = "gpa2-0";
			samsung,pin-function = <0x1>;/*output*/
			samsung,pin-val = <1>;/*out high*/
		};

		lcd_power_on: lcd_power_on {
			samsung,pins = "gpa2-2";
			samsung,pin-function = <0x1>;/*output*/
			samsung,pin-val = <1>;/*out high*/
		};

		lcd_bl_on: lcd_bl_on {
			samsung,pins = "gpa2-3";
			samsung,pin-function = <0x1>;/*input*/
			samsung,pin-val = <1>;/*out high*/
		};

                lt9611_hpd_en: lt9611-hpd {
		samsung,pins = "gpa2-0";
		samsung,pin-function = <0x1>;
		samsung,pin-val = <1>;
		samsung,pin-pud = <3>;
		samsung,pin-drv = <0>;
                };

	        lt9611_irq: lt9611-irq {
		samsung,pins = "gpa1-7";
		samsung,pin-function = <0xf>;
                };

	        lt9611_input: lt9611-input {
		samsung,pins = "gpa1-7";
		samsung,pin-function = <0>;
		samsung,pin-pud = <1>;
	        };

	        lt9211_irq: lt9211-irq {
		samsung,pins = "gpa1-4";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
                };

	        lt9211_input: lt9211-input {
		samsung,pins = "gpa1-4";
		samsung,pin-function = <0>;
		samsung,pin-pud = <1>;
	        };
	};

	/* CMGP */
	pinctrl@11c30000 {
		gpm0: gpm0 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__CMGP_EXT_INTM00 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpm1: gpm1 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__CMGP_EXT_INTM01 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpm2: gpm2 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__CMGP_EXT_INTM02 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpm3: gpm3 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__CMGP_EXT_INTM03 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpm4: gpm4 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__CMGP_EXT_INTM04 IRQ_TYPE_LEVEL_HIGH>;
		};

		gpm5: gpm5 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI INTREQ__CMGP_EXT_INTM05 IRQ_TYPE_LEVEL_HIGH>;
		};

		/* usi_cmgp00 */
		hsi2c3_bus: hsi2c3-bus {
			samsung,pins = "gpm0-0", "gpm1-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		/* usi_cmgp01 */
		hsi2c4_bus: hsi2c4-bus {
			samsung,pins = "gpm4-0", "gpm5-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		/* spi usi_cmgp00 */
		spi1_bus: spi1-bus {
				samsung,pins = "gpm0-0", "gpm1-0", "gpm2-0";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
				samsung,pin-drv = <0>;
		};

		spi1_cs: spi1-cs {
				samsung,pins = "gpm3-0";
				samsung,pin-function = <1>;
				samsung,pin-pud = <0>;
				samsung,pin-drv = <0>;
		};

		spi1_cs_func: spi1-cs-func {
				samsung,pins = "gpm3-0";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
				samsung,pin-drv = <0>;
		};

		/* spi usi_cmgp01 */
		spi2_bus: spi2-bus {
				samsung,pins = "gpm4-0", "gpm5-0", "gpm6-0";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
				samsung,pin-drv = <0>;
		};

		spi2_cs: spi2-cs {
				samsung,pins = "gpm7-0";
				samsung,pin-function = <1>;
				samsung,pin-pud = <0>;
				samsung,pin-drv = <0>;
		};

		spi2_cs_func: spi2-cs-func {
				samsung,pins = "gpm7-0";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
				samsung,pin-drv = <0>;
		};

		/* usi_cmgp00_uart */
		uart1_bus_single: uart1-bus {
				samsung,pins = "gpm0-0", "gpm1-0", "gpm2-0", "gpm3-0";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
		};

		uart1_bus_dual: uart1-bus-dual {
				samsung,pins = "gpm0-0", "gpm1-0";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
		};

		/* usi_cmgp01_uart */
		uart2_bus_single: uart2-bus {
				samsung,pins = "gpm4-0", "gpm5-0", "gpm6-0", "gpm7-0";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
		};

		uart2_bus_dual: uart2-bus-dual {
				samsung,pins = "gpm4-0", "gpm5-0";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
		};
		sensor_spi_suspend: sensor-spi-suspend {
			samsung,pins = "gpm0-0", "gpm1-0", "gpm2-0", "gpm3-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};

		sensor_spi_resume: sensor-spi-resume {
			samsung,pins = "gpm0-0", "gpm1-0", "gpm2-0", "gpm3-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		sensor_i2c_suspend: sensor-i2c-suspend {
			samsung,pins = "gpm4-0", "gpm5-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		sensor_i2c_resume: sensor-i2c-resume {
			samsung,pins = "gpm4-0", "gpm5-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};
	};

	/* AUD */
	pinctrl@14a60000{
		gpb0: gpb0 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpb1: gpb1 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		aud_codec_mclk: aud-codec-mclk {
			samsung,pins = "gpb0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};

		aud_codec_mclk_idle: aud-codec-mclk-idle {
			samsung,pins = "gpb0-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
		};

		aud_i2s0_bus: aud-i2s0-bus {
			samsung,pins = "gpb0-1", "gpb0-2", "gpb0-3", "gpb0-4";
			samsung,pin-function = <2>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};

		aud_i2s0_idle: aud-i2s0-idle {
			samsung,pins = "gpb0-1", "gpb0-2", "gpb0-3", "gpb0-4";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
		};

		aud_i2s1_bus: aud-i2s1-bus {
			samsung,pins = "gpb1-0", "gpb1-1", "gpb1-2", "gpb1-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};

		aud_i2s1_idle: aud-i2s1-idle {
			samsung,pins = "gpb1-0", "gpb1-1", "gpb1-2", "gpb1-3";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};

		aud_fm_bus: aud-fm-bus {
			samsung,pins = "gpb1-4";
			samsung,pin-function = <2>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};

		aud_fm_idle: aud-fm-idle {
			samsung,pins = "gpb1-4";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
		};
	};

	/* HSI */
	pinctrl@13430000 {
		gpf2: gpf2 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		sd2_clk: sd2-clk {
			samsung,pins = "gpf2-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sd2_cmd: sd2-cmd {
			samsung,pins = "gpf2-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <2>;
		 };

		sd2_bus1: sd2-bus-width1 {
			samsung,pins = "gpf2-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <2>;
		};

		sd2_bus4: sd2-bus-width4 {
			samsung,pins = "gpf2-3", "gpf2-4", "gpf2-5";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <2>;
		};

		sd2_clk_fast_slew_rate_1x: sd2-clk_fast_slew_rate_1x {
			samsung,pins = "gpf2-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		sd2_clk_fast_slew_rate_1_5x: sd2-clk_fast_slew_rate_1_5x {
			samsung,pins = "gpf2-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <1>;
		};

		sd2_clk_fast_slew_rate_2x: sd2-clk_fast_slew_rate_2x {
			samsung,pins = "gpf2-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sd2_clk_fast_slew_rate_2_5x: sd2-clk_fast_slew_rate_2_5x {
			samsung,pins = "gpf2-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <3>;
		};

		sd2_clk_fast_slew_rate_3x: sd2-clk_fast_slew_rate_3x {
			samsung,pins = "gpf2-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <4>;
		};

		sd2_clk_fast_slew_rate_4x: sd2-clk_fast_slew_rate_4x {
			samsung,pins = "gpf2-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <5>;
		};

		sd2_pins_as_pdn: sd2-pins-as-pdn {
			samsung,pins = "gpf2-0", "gpf2-1", "gpf2-2", "gpf2-3", "gpf2-4", "gpf2-5";
			samsung,pin-function = <0>;
			samsung,pin-pud = <2>;
		};

	};

	/* CORE */
	pinctrl@12070000 {
		gpf0: gpf0 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		sd0_clk: sd0-clk {
			samsung,pins = "gpf0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <3>;
			samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};

		sd0_cmd: sd0-cmd {
			samsung,pins = "gpf0-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
			samsung,pin-con-pdn = <1>;
                        samsung,pin-pud-pdn = <3>;
		};

		sd0_rdqs: sd0-rdqs {
			samsung,pins = "gpf0-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <3>;
			samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};

		sd0_nreset: sd0-nreset {
			samsung,pins = "gpf0-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
			samsung,pin-con-pdn = <1>;
                        samsung,pin-pud-pdn = <3>;
		};

		sd0_clk_fast_slew_rate_1x: sd0-clk_fast_slew_rate_1x {
			samsung,pins = "gpf0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <1>;
			samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};

		sd0_clk_fast_slew_rate_2x: sd0-clk_fast_slew_rate_2x {
			samsung,pins = "gpf0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
			samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};

		sd0_clk_fast_slew_rate_3x: sd0-clk_fast_slew_rate_3x {
			samsung,pins = "gpf0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
			samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};

		sd0_clk_fast_slew_rate_4x: sd0-clk_fast_slew_rate_4x {
			samsung,pins = "gpf0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <3>;
			samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};

		gpf1: gpf1 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		sd0_bus1: sd0-bus-width1 {
			samsung,pins = "gpf1-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
                        samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};

		sd0_bus4: sd0-bus-width4 {
			samsung,pins = "gpf1-1", "gpf1-2", "gpf1-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
                        samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};

		sd0_bus8: sd0-bus-width8 {
			samsung,pins = "gpf1-4", "gpf1-5", "gpf1-6", "gpf1-7";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <3>;
                        samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};
	};

	/* PERI */
	pinctrl@139b0000 {
		gpg0: gpg0 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpp0: gpp0 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};
		gpp1: gpp1 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpp2: gpp2 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpg1: gpg1 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpg2: gpg2 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpg3: gpg3 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpc0: gpc0 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		gpc1: gpc1 {
			gpio-controller;
			#gpio-cells = <2>;

			interrupt-controller;
			#interrupt-cells = <2>;
		};

		xclkout: xclkout {
			samsung,pins = "gpq0-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
		};

		/* usi_hsi2c_0 */
		hsi2c0_bus: hsi2c0-bus {
			samsung,pins = "gpc1-0", "gpc1-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		/* usi_hsi2c_1 */
		hsi2c1_bus: hsi2c1-bus {
			samsung,pins = "gpc1-2", "gpc1-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		/* usi_hsi2c_2 */
		hsi2c2_bus: hsi2c2-bus {
			samsung,pins = "gpc1-4", "gpc1-5";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		/* usi_spi_0 */
		spi0_bus: spi0-bus {
				samsung,pins = "gpp2-0", "gpp2-2", "gpp2-3";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
				samsung,pin-drv = <0>;
		};

		spi0_cs: spi0-cs {
				samsung,pins = "gpp2-1";
				samsung,pin-function = <1>;
				samsung,pin-pud = <0>;
				samsung,pin-drv = <0>;
		};

		spi0_cs_func: spi0-cs-func {
				samsung,pins = "gpp2-1";
				samsung,pin-function = <2>;
				samsung,pin-pud = <0>;
				samsung,pin-drv = <0>;
		};

		i2c0_bus: i2c0-bus {
			samsung,pins = "gpp0-0", "gpp0-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
			samsung,pin-con-pdn = <2>;
 			samsung,pin-pud-pdn = <0>;
		};

		i2c1_bus: i2c1-bus {
			samsung,pins = "gpp0-2", "gpp0-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};

		i2c2_bus: i2c2-bus {
			samsung,pins = "gpp0-4", "gpp0-5";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
			samsung,pin-con-pdn = <2>;
                        samsung,pin-pud-pdn = <1>;
		};

		i2c3_bus: i2c3-bus {
			samsung,pins = "gpp1-0", "gpp1-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};

		i2c4_bus: i2c4-bus {
			samsung,pins = "gpp1-2", "gpp1-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};

		fm_lna_en: fm-lna-en {
			samsung,pins = "gpg2-3";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-val = <1>;
		};

		sensor_mclk0_in: sensor-mclk0-in {
			samsung,pins = "gpc0-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sensor_mclk0_out: sensor-mclk0-out {
			samsung,pins = "gpc0-0";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <2>;
		};

		sensor_mclk0_fn: sensor-mclk0-fn {
			samsung,pins = "gpc0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sensor_mclk1_in: sensor-mclk1-in {
			samsung,pins = "gpc0-1";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sensor_mclk1_out: sensor-mclk1-out {
			samsung,pins = "gpc0-1";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <2>;
		};

		sensor_mclk1_fn: sensor-mclk1-fn {
			samsung,pins = "gpc0-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sensor_mclk2_in: sensor-mclk2-in {
			samsung,pins = "gpc0-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sensor_mclk2_out: sensor-mclk2-out {
			samsung,pins = "gpc0-2";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <2>;
		};

		sensor_mclk2_fn: sensor-mclk2-fn {
			samsung,pins = "gpc0-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <1>;
		};

                panel_bl_gpio_on: panel_bl_gpio_on {
			samsung,pins = "gpg0-1";
			samsung,pin-function = <0x1>;
			samsung,pin-val = <1>;
		};

		panel_bl_pwm_on: panel_bl_pwm_on {
			samsung,pins = "gpg0-1";
			samsung,pin-function = <0x2>;
		};

		panel_bl_pwm_off: panel_bl_pwm_off {
			samsung,pins = "gpg0-1";
			samsung,pin-function = <0x0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <1>;
		};

		spr5801_ldo: spr5801_ldo {
			samsung,pins = "gpg1-2";
			samsung,pin-function = <0x1>;
			samsung,pin-con-pdn = <3>;
			samsung,pin-pud-pdn = <0>;
		};

		dmic_bias: dmic-bias-gpio {
			samsung,pins = "gpg2-7";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <3>;
			samsung,pin-pud-pdn = <0>;

		};

		amp_ldo: amp-ldo-gpio {
			samsung,pins = "gpg3-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn = <3>;
			samsung,pin-pud-pdn = <0>;
		};

		lcd_ldo_en_off: lcd_ldo_en_off {
			samsung,pins = "gpg1-1";
                        samsung,pin-function = <0x0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <0>;
		};

		lcd_rst_en_off: lcd_rst_en_off {
			samsung,pins = "gpg2-5";
                        samsung,pin-function = <0x0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <0>;
		};

		lcd_ldo_en_on: lcd_ldo_en_on {
			samsung,pins = "gpg1-1";
                        samsung,pin-function = <0x1>;
			samsung,pin-val =<1>;
		};

		lcd_rst_en_on: lcd_rst_en_on {
			samsung,pins = "gpg2-5";
                        samsung,pin-function = <0x1>;
			samsung,pin-val =<1>;
			samsung,pin-con-pdn =<2>;
                        samsung,pin-pud-pdn = <0>;
		};

		motor_pwm_tout0: motor_pwm_tout0 {
			samsung,pins = "gpg0-0";
			samsung,pin-function = <0x0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <1>;
		};

                lt9611_rst_on: lt9611-rst-on {
		samsung,pins = "gpg2-4";
		samsung,pin-function = <1>;
		samsung,pin-val = <1>;
		samsung,pin-pud = <3>;
		samsung,pin-drv = <0>;
                samsung,pin-pud-pdn = <1>;
                samsung,pin-con-pdn =<2>;
	        };

	        lt9611_rst_off: lt9611-rst-off {
		samsung,pins = "gpg2-4";
		samsung,pin-function = <1>;
		samsung,pin-val = <0>;
		samsung,pin-pud = <1>;
		samsung,pin-drv = <0>;
                samsung,pin-pud-pdn = <1>;
                samsung,pin-con-pdn =<2>;
	        };

	        lt9211_rst_on: lt9211-rst-on {
		samsung,pins = "gpg2-6";
		samsung,pin-function = <1>;
		samsung,pin-val = <1>;
		samsung,pin-pud = <3>;
		samsung,pin-drv = <0>;
                samsung,pin-pud-pdn = <1>;
                samsung,pin-con-pdn =<2>;
	        };

	        lt9211_rst_off: lt9211-rst-off {
		samsung,pins = "gpg2-6";
		samsung,pin-function = <1>;
		samsung,pin-val = <0>;
		samsung,pin-pud = <1>;
		samsung,pin-drv = <0>;
		samsung,pin-pud-pdn = <1>;
                samsung,pin-con-pdn =<2>;
	        };
	};
};
